*.pyc
*.egg-info

# Sphinx documentation
docs/_build/
docs/examples/
examples/*
!examples/*.py
!examples/*.rst

# IDE
.vscode

# tox
.tox/*

# Distribution
build/*
dist/*

# pixi environments
.pixi

# coverage
.coverage
coverage.xml

sg_execution_times.rst
docs/api/api/*

__pycache__